.place_review_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.place_review_title {
  color: rgba(79, 90, 128, 1);
  font-weight: 700;
}

/* search Form */
.place_searchForm {
  text-align: center;
  box-shadow: 2px 5px 8px rgba(153, 153, 153, 0.246);
  padding: 2rem;
  margin: 2rem;
  margin-top: 1rem;
  width: 50%;
  background: rgb(249, 249, 249);
  border-radius: 3em;
}

.place_search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.place_search_input {
  background-color: rgb(215, 221, 227);
  border-radius: 2em;
  border: none;
  height: 2rem;
  text-align: center;
}

.place_search_btn {
  color: rgba(79, 90, 128, 1);
  border: 1em;
  margin: 1rem;
  margin-bottom: 1.5em;
  cursor: pointer;
}
.place_search_btn:hover {
  color: rgb(136, 151, 203);
}

.place_search_info {
  background: none;
  border: 1em;
  margin: 1em;
}

#map {
  width: "100%";
  height: "18em";
  border-radius: 3em;
}

.place_go_kakao_map {
  display: inline-block;
  background-color: rgb(230, 230, 230);
  color: rgb(22, 8, 100);
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 2em;
  margin: 0.6em 0.4em;
  cursor: pointer;
}

.place_go_kakao_map:hover {
  background-color: rgb(211, 211, 211);
  color: rgb(22, 8, 100);
}

.place_selected_name {
  padding-top: 0.2em;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place_selected_name span {
  margin-left: 0.5em;
  font-size: 1.5em;
}

.searchBtn {
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  margin-top: 2rem;
  width: 30%;
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  background-color: rgba(46, 59, 76);
  border-radius: 10px;
}

.searchBtn:hover {
  background-color: rgb(196, 196, 196);
  color: rgba(46, 59, 76);
}

.place_research {
  position: relative;
  top: 1em;
  right: 0;
  color: #909090;
  cursor: pointer;
}

.place_research:hover > .place_research_msg {
  display: inline-block;
  color: #384b60;
}

.place_research_msg {
  display: none;
  padding-left: 0.5em;
  margin-top: 0.2em;
  font-size: 0.8em;
}

.form_text {
  border: 1em;
  margin: 1em;
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 0.85em;
  color: rgb(68, 84, 107);
}

.place_name {
  font-size: x-large;
  padding-bottom: 0.7em;
}

.place_category {
  font-size: 0.9em;
  color: rgb(79, 93, 111);
}

/* review list 영역 */

.review_item_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review_item {
  width: 33em;
  height: 13em;
  background: rgb(242, 242, 242);
  border-radius: 18px;
  box-shadow: 2px 2px 8px rgba(173, 173, 173, 0.246);
  margin: 0.8em 0 2em;
  cursor: pointer;
}

.review_item:first-child {
  margin-top: 2em;
}

.review_item:last-child {
  margin-bottom: 5em;
}

.review_item:hover {
  background: rgb(230, 230, 230);
}

.review_item_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.2em 2em;
  padding: 0.8em;
}

.review_img {
  width: 8em;
  height: 8em;
  position: relative;
  bottom: 1em;
}

.review_info_container {
  display: flex;
  flex-direction: row;
}

.review_writerNickname {
  color: rgba(131, 131, 131, 1);
  font-size: 0.8em;
  padding-top: 1em;
}

.review_text {
  padding-top: 1em;
  color: rgba(131, 131, 131, 1);
  font-size: 0.8em;
}

.review_detailReview_container {
  width: 17em;
  height: 5em;
  background-color: white;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9em;
  margin: 1em;
}

.review_detailReview {
  padding: 1em;
  font-size: 0.8em;
}

.detailReview_cut {
  font-size: 1em;
  color: rgba(131, 131, 131, 1);
}
