/* PlaceSearchForm.js */
.place_page {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.place_page_title {
  color: rgba(79, 90, 128, 1);
  font-weight: 700;
  font-size: 26px;
}
/* SearchMapForm.js */

.place_searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 5px 8px rgba(153, 153, 153, 0.246);
  padding: 32px;
  margin-bottom: 30px;
  width: 800px;
  background: #f7f7f7;
  border-radius: 8px;
}
.place_search {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 16px;
  background-color: white;
  border-radius: 28px;
  text-align: center;
}

.place_search input {
  width: 530px;
  height: 32px;
  text-align: left;
  margin-left: 16px;
  border: none;
  font-size: 17px;
}

.place_search_btn {
  color: rgba(79, 90, 128, 1);
  border: 16px;
  margin: 12px;
  margin-right: 16px;
  cursor: pointer;
}
.place_search_btn:hover {
  color: rgb(136, 151, 203);
}

.kakao_map {
  margin-top: 30px;
  border-radius: 10px;
  margin-left: -45px;
}

.place_search_text {
  border: 16px;
  margin: 16px;
  margin-top: 20px;
  margin-bottom: -10px;
  font-size: 16px;
  color: rgb(68, 84, 107);
}

.place_search_info {
  background: none;
  margin: 16px;
}
.go_kakao_map {
  display: inline-block;
  background-color: rgb(230, 230, 230);
  color: rgb(22, 8, 100);
  text-decoration: none;
  padding: 4px 6px;
  border-radius: 32px;
  margin: 9px 7px;
  cursor: pointer;
}

.go_kakao_map:hover {
  background-color: rgb(211, 211, 211);
  color: rgb(22, 8, 100);
}

.place_selected_name {
  padding-top: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place_selected_name span {
  margin-left: 5px;
  font-size: 18px;
}

.searchBtn {
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15px;
  width: 20%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgba(46, 59, 76);
}

.searchBtn:hover {
  background-color: rgb(196, 196, 196);
  color: rgba(46, 59, 76);
}

/*PlaceSearchForm.js*/

.place_searchForm_box {
  width: 800px;
}
.returnBtn {
  width: fit-content;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 22px;
  color: #909090;
  cursor: pointer;
}
.place_name {
  text-align: center;
  font-size: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: -10px;
}
.place_likedBtn {
  padding: 0;
  font-size: 24px;
  color: #ff6b6b;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
  margin-bottom: -2px;
}
.place_medal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin-top: -40px;
  margin-right: -15px;
}
.medal {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  margin-top: -3px;
}
.place_medal_txt {
  font-size: 14px;

  color: rgb(148, 148, 148);
}

.place_category {
  font-size: 15px;
  color: rgb(79, 93, 111);
  margin-bottom: 10px;
}
.star {
  margin-top: 15px;
  margin-right: 7px;
  font-size: 20px;
  color: rgb(255, 221, 2);
}

.place_rating {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}
.place_starScore {
  margin-top: 15px;
  margin-left: -15px;
  color: #6b6b6b;
}

.place_ratingStars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

/*PlaceSearchResultContainer.js*/
.review_text {
  color: rgba(131, 131, 131, 1);
  font-size: 16px;
  width: 800px;
  text-align: center;
}

.review_container {
  width: 800px;
  margin-top: 20px;
}

/*ReviewItem.js*/
.review_box {
  margin-bottom: 40px;
  background: #f7f7f7;
  border-radius: 8px;
}
.review_writerInfo {
  padding: 15px;
  display: flex;
  align-items: center;
}

.review_writerImage {
  height: 35px;
  width: 35px;
  border-radius: 10px;
}

.review_writerNickname {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.review_visitTimes {
  margin-left: 10px;
  color: #6b6b6b;
  font-size: 14px;
}

.review_medal {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-bottom: 10px;
}
.review_medal span {
  font-size: 23px;
  color: rgb(59, 59, 255);
}
.review_recommend {
  font-size: 15px;
  font-weight: 350;
  color: #6b6b6b;
  margin-left: 5px;
  margin-right: 15px;
  padding-bottom: 5px;
}

.review_item_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.review_image {
  position: relative;
  margin-right: 40px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.review_img {
  width: 280px;
  height: 250px;
}

.review_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review_ratingStars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-bottom: 20px;
}
.big_star {
  margin-right: 7px;
  font-size: 33px;
  color: rgb(255, 221, 2);
}
.review_starScore {
  margin-left: 10px;
  color: #6b6b6b;
  font-size: 21px;
}
.review_detailReview {
  width: 350px;
  height: 100px;
  background-color: white;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  margin: 16px;
}

.review_detailContent {
  padding: 10px;
}
