.place_review_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.place_review_title {
  color: rgba(79, 90, 128, 1);
  font-weight: 700;
}

/* search Form */
.place_searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 5px 8px rgba(153, 153, 153, 0.246);
  padding: 2rem;
  margin: 2rem;
  margin-top: 1rem;
  width: 40em;
  background: rgb(249, 249, 249);
  border-radius: 3em;
}

.place_search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.place_search_input {
  background-color: rgb(215, 221, 227);
  border-radius: 2em;
  border: none;
  width: 20rem;
  height: 2rem;
  text-align: center;
  margin-left: 18px;
}

.place_search_btn {
  color: rgba(79, 90, 128, 1);
  border: 1em;
  margin: 1rem;
  cursor: pointer;
}
.place_search_btn:hover {
  color: rgb(136, 151, 203);
}

.place_search_info {
  background: none;
  border: 1em;
  margin: 1em;
}

#map {
  width: 30em;
  height: 18em;
  border-radius: 3em;
}

.place_go_kakao_map {
  display: inline-block;
  background-color: rgb(230, 230, 230);
  color: rgb(22, 8, 100);
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 2em;
  margin: 0.6em 0.4em;
  cursor: pointer;
}

.place_go_kakao_map:hover {
  background-color: rgb(211, 211, 211);
  color: rgb(22, 8, 100);
}

.place_selected_name {
  padding-top: 0.2em;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place_selected_name span {
  margin-left: 0.5em;
  font-size: 1.5em;
}

.searchBtn {
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  margin-top: 2rem;
  width: 30%;
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  background-color: rgba(46, 59, 76);
  border-radius: 10px;
}

.searchBtn:hover {
  background-color: rgb(196, 196, 196);
  color: rgba(46, 59, 76);
}

.place_research_btn {
  position: relative;
  bottom: 6em;
  left: 33em;
  color: #909090;
  cursor: pointer;
  width: fit-content;
}

.place_research_btn:hover > .place_research_msg {
  display: inline-block;
  color: #384b60;
}

.place_research_msg {
  display: none;
  position: relative;
  padding-left: 0.5em;
  margin-top: 0.2em;
  font-size: 0.8em;
  top: 1.5em;
  right: 3em;
}

.form_text {
  border: 1em;
  margin: 1em;
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 0.85em;
  color: rgb(68, 84, 107);
}

.place_name {
  text-align: center;
  width: 20em;
  font-size: x-large;
  padding-bottom: 0.7em;
  padding-top: 0.7em;
}

.place_category {
  font-size: 0.9em;
  color: rgb(79, 93, 111);
}

/*PlaceSearchForm.js 추가된 부분*/
.place_rating {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.place-ratingStars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.place_rating .rating-score {
  margin-left: 5px;
  font-size: 16px;
  color: rgba(131, 131, 131, 1);
}

.place-medal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.place-medal-image {
  width: 180px;
  height: 180px;
  margin-top: -140px;
  margin-left: -200px;
}

.recommend-place-solo-travel {
  font-size: 18px;
  font-weight: 600;
  color: #321bb5;
  white-space: nowrap;
  margin-top: -120px;
  margin-left: -130px;
}

/* review list 영역 */

.review_item_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review_item {
  width: 33em;
  height: 13em;
  background: rgba(244, 245, 249, 1);
  border-radius: 18px;
  box-shadow: 2px 2px 8px rgba(173, 173, 173, 0.246);
  margin: 0.8em 0 2em;
  cursor: pointer;
}

.review_item:hover {
  background: rgb(230, 230, 230);
}

.review_item_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.2em 2em;
  padding: 0.8em;
}
.review_info_item {
  margin-top: -25px;
}

.review_img {
  width: 9.5em;
  height: 9.5em;
  position: relative;
  bottom: 1em;
  margin-left: -25px;
  margin-top: -15px;
}

.review_writerNickname {
  color: rgba(131, 131, 131, 1);
  font-size: 0.8em;
  padding-top: 1em;
  margin-top: -10px;
  margin-left: -25px;
}

.review_text {
  padding-top: 1em;
  color: rgba(131, 131, 131, 1);
  font-size: 0.8em;
  margin-top: -10px;
  margin-left: 20px;
}

.review_detailReview_container {
  width: 23em;
  height: 8em;
  background-color: white;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9em;
  margin: 1em;
  margin-top: 0px;
}

.review_detailReview {
  padding: 1em;
}
.detailReview_cut {
  font-size: 0.8em;
  color: rgba(131, 131, 131, 1);
}
/*ReviewItem.js 추가한 부분*/
.review_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.review-medal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -100px;
  margin-left: -160px;
}

.review-medal-image {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-right: -60px;
}

.recommend-solo-travel {
  font-size: 18px;
  font-weight: 600;
  color: #321bb5;
  white-space: nowrap;
  margin-top: 40px;
  margin-right: 5;
}

.review_item_element {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.review_rating {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: -20px;
}

.searchresult-ratingStars {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.searchresult-ratingStarIcon {
  margin-right: 2px;
  font-size: 25px;
  color: rgb(255, 221, 2);
}
.review-rating-text {
  margin-left: -10px;
}

.review_rating span:last-child {
  margin-right: 20px;
}
