.Sign_Container {
  display: block;
  position: absolute;
  top: 20px;
  bottom: auto;
  left: 39%;
  right: 100%;
}
.Sign_emailcodebutton,
.Sign_veritificationbutton {
  margin: 30px;
  text-align: center;
  margin-left: 80px;
  margin-top: -10px;
  font-size: medium;
  display: inline-block;
  width: 150px;
  border-radius: 30px;
}

.Sign_username,
.Sign_password,
.Sign_nickname,
.Sign_email,
.Sign_verificationCode {
  border: none;
  border-bottom: 1px solid rgb(172, 172, 172);
  margin-bottom: 30px;
  width: 350px;
}

.Sign_emailbutton {
  width: 100px;
  padding: 5px;
}

.Sign_button {
  width: 200px;
  padding: 5px;
}
.signb{
  margin: 30px;
  text-align: center;
  margin-left: 80px;
  margin-top: 40px;
  font-size: medium;
}