/*PostDetail.js*/
.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: -20px 90px 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 0 30px;
  margin: auto;
}
.content01 {
  /*GPS 정보*/
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #0085ff;
  margin: 20px 0 0 -8px;
}
.gpsIcon {
  font-size: 22px;
}
.content02 {
  /*지역, 도시 정보*/
  display: flex;
  flex-direction: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.postProvince {
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
}
.postCity {
  font-size: 20px;
  margin: 0px;
}
.postTitle {
  /*제목*/
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0 5px;
}
.content03 {
  /*성별, 생년월일*/
  display: flex;
  align-items: center;
  gap: 5px;
}
.postSex {
  margin: 0;
}
.maleIcon {
  font-size: 18px;
  color: #0062f4;
}
.femaleIcon {
  font-size: 18px;
  color: #f24e1e;
}
.postBirthDate {
  font-size: 14px;
  color: #8d8d8d;
  margin: 0;
}
.content04 {
  /*프로필 사진, (닉네임, 가입날)*/
  display: flex;
  align-items: center;
  margin: 10px 0 0 2px;
}
.postProfile {
  margin: 0;
}
.profileImg {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-left: 2px;
  margin-bottom: 5px;
}
.content05 {
  /*닉네임, 가입날*/
  margin: -10px 10px 0;
}
.postNickname {
  font-size: 15px;
  margin: 0 0 3px;
}
.postCreatedDate {
  font-size: 14px;
  color: #8d8d8d;
  margin: 0;
}
.hr {
  border: none;
  border-top: 1px solid #bcbcbc;
  margin: 5px 0;
}
.contentBtnBox {
  /*버튼 설정*/
  display: flex;
  color: #333333;
  margin: 35px 10px 0 auto;
  cursor: pointer;
  gap: 20px;
}
.modifyBtn,
.deleteBtn {
  margin: 0px;
}
/*본문*/
.contentBox {
  padding: 0 10px;
}
.content06 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}
.mapIcon {
  font-size: 30px;
  color: #85b6ff;
  margin: 0 0 0 -5px;
}
.postPlaceName {
  font-size: 16px;
  margin: 5px 0 0;
}
.postAddress {
  font-size: 13px;
  color: #8d8d8d;
  margin: 2px 0 0;
}
.postMeetUpDate {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
}
.postContent {
  font-size: 17px;
}
.planDetail {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.Poke {
  display: flex;
  flex-direction: wrap;
  margin: 10px 5px;
}

/*@@@FriendPlanDetail 부분@@@*/
.planDetailContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.planDetailHeader {
  font-size: 20px;
  color: #8d8d8d;
  padding: 10px;
  margin-left: 10px;
}
.hr2 {
  border: none;
  border-top: 1px solid #bdbdbd;
  margin: 0 5px;
}
.planDetailBox {
  display: flex;
  padding: 10px;
}
.boxContent {
  padding: 5px 15px;
}
.planTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 8px;
}
.planDate {
  font-size: 15px;
  font-weight: 500;
  color: #525252;
  margin: 0 0 3px;
}
.planCourse,
.planTheme,
.planCost {
  font-size: 14px;
  color: #525252;
  margin: 0 0 2px;
}
.planCheckBtn {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #2e3b4c;
  padding: 8px 15px;
  margin: 80px 0 0 auto;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}
/*@@@Poke 부분@@@*/
.pokeContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pokeIcon {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  cursor: pointer;
}
.isPokedIcon {
  width: 50px;
  height: 50px;
  color: #0085ff;
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  cursor: pointer;
}
/*쿡 찌르기 Modal 설정*/
.pokeBriefMsg {
  width: 95%;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 10px;
  border: 0.5px solid #949494;
  border-radius: 4px;
}
.pokeBtnContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.pokeCreateBtn {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #2e3b4c;
  padding: 8px 15px;
  margin: 30px 0 0 auto;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}
.pokeCancelBtn {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #2e3b4c;
  padding: 8px 15px;
  margin: 30px auto 0 0;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

/*이미지 겹쳐보이게 하기*/
.pokeImgContainer {
  position: relative;
}
.pokeImg01 {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  padding: 2px;
  border: 1px solid #ffffff;
  border-radius: 30px;
}
.pokeImg02 {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  padding: 2px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  left: -15px; /* 이미지의 위치 조절 (왼쪽으로 겹치게) */
}
.pokeImg03 {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  padding: 2px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  left: -30px; /* 이미지의 위치 조절 (왼쪽으로 겹치게) */
}
.pokePeopleCount {
  font-size: 17px;
  margin: 0 0 0 -30px;
  cursor: pointer;
}

/*@@@ Overlay돼서 보여지는 부분(쿡찌르기 확인하기)@@@*/
.pokeCloseBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 28px;
  color: #2e3b4c;
  background-color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.pokeCount {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}
/*이제 찌른 사람들 목록*/
.pokePeopleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 25px;
}
.pokeItem {
  flex: 0 0 calc(50% - 55px); /* 4개씩, 간격 50px 제외한 너비 계산 */
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.pokeHeader {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  gap: 10px;
}
.pokeProfile {
  height: 50px;
  width: 50px;
}
.pokePeopleInfoContent01 {
  display: flex;
  flex-direction: column;
}
.pokeName {
  margin: 0 0 2px;
}
.pokePeopleInfoContent02 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  gap: 3px;
}
.pokeAge,
.pokeSex {
  margin: 0;
}
.pokeMessage {
  position: relative;
  overflow-y: auto;
  height: 39px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}
.meetUpPokeBtn {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #2e3b4c;
  padding: 8px 12px;
  margin: -4px auto 0px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
