.searchPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.travelSearchForm {
  text-align: center;
  box-shadow: 0px 2px 8px rgba(173, 173, 173, 0.246);
  padding: 2rem;
  margin: 2rem;
  width: 50%;
  background: white;
  border-radius: 2px;
}

.searchFormElement {
  padding: 0.5rem 0;
}

.searchBtn {
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 30%;
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.152);*/
  background-color: rgba(46, 59, 76);
  border-radius: 10px;
}

.searchBtn:hover {
  background-color: rgb(196, 196, 196);
  color: rgba(46, 59, 76);
}

/* 검색 결과 영역 */

.SearchResultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.travel_search_resultItem {
  width: 20em;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.246);
  padding: 1rem;
  margin: 1rem;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  color: rgba(46, 59, 76);
}

.travel_search_resultItem:hover {
  background-color: rgba(226, 226, 226, 0.405);
}

.travel_search_resultItem .writerNickname {
  /* text-align: start;
  font-size: 0.8em;
  margin: 5px;
  margin-bottom: 1em;
  padding-left: 2em;
  color: rgb(109, 117, 127); */
}

.mainImage {
  background-color: rgba(0, 34, 85, 0.431);
  width: 17em;
  height: 17em;
  object-fit: cover;
  margin-top: 0.5em;
}

.writerInfo {
  display: flex;
  flex-direction: row;
  padding: 0 2em;
}

.writerImage {
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
}

.writerNickname {
  text-align: center;
  font-size: 0.8em;
  color: rgb(109, 117, 127);
  padding-left: 1em;
  line-height: 36px;
}

.dateInfo {
  font-size: 6px;
  text-align: end;
  margin-right: 5em;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.travelInfo {
  margin-top: 10px;
  text-align: left;
  padding: 0 1em;
  color: rgb(57, 79, 92);
}

.travelInfo > div + div {
  margin-top: 5px;
  font-size: 14px;
}

.travelInfo_title {
  font-size: 20px;
  text-align: center;
  color: rgb(31, 53, 65);
  font-weight: 500;
  margin-bottom: 10px;
}

.search_select {
  padding: 0.8em 0.5em;
  border: 1px solid #999;
  border-radius: 10px;
  text-align: center;
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
}
