.comment-container {
  margin-top: 30px;
  position: relative;
}

.comment-container h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.comment-create {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.comment-create .comment-input {
  display: flex;
  flex: 1;
}
.comment-create textarea {
  flex: 1;
  height: 50px;
  resize: vertical;
  font-size: 14px;
  padding: 5px;
  margin-right: 10px;
  width: 1210px;
}

.comment-create button {
  display: inline-block;
  color: white;
  background-color: #2e3b4c;
  margin-top: 5px;
  height: 50px;
  width: 70px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.showcomment {
  margin-top: 20px;
}

/*Comments.js*/
.comments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.show-comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comment-views {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 13px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  color: #2e3b4c;
}
.comment-views p {
  margin-right: 30px;
}
.comment-nickname {
  font-size: 16px;
}
.comment-createdDate {
  font-size: 13px;
  margin-top: -10px;
  color: gray;
}
.comment-settings {
  margin-top: -10px;
  cursor: pointer;
  display: inline-block;
  color: gray;
  padding: 8px;
  z-index: 1;
  font-size: 13px;
  white-space: nowrap;
}
.comment-setting-options {
  margin-top: -23px;
  margin-left: -20px;
  cursor: pointer;
  display: inline-block;
  color: gray;
  top: 100%;
  padding: 8px;
  z-index: 1;
  white-space: nowrap;
  border-radius: 4px;
  position: relative;
}
.comment-modify,
.comment-delete {
  font-size: 13px;
  color: gray;
  margin-left: 20px;
  cursor: pointer;
  display: inline-block;
}

.comment-modfiy-input textarea {
  flex: 1;
  height: 50px;
  resize: vertical;
  font-size: 14px;
  padding: 5px;
  margin-right: 10px;
  width: 1210px;
  margin-bottom: -25px;
}

.comment-submit {
  display: inline-block;
  color: white;
  background-color: #2e3b4c;
  margin-top: 10px;
  height: 50px;
  width: 70px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.replycomments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
}
.show-replycomments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.showReplycomment-button {
  font-size: 15px;
  color: gray;
  margin-left: 20px;
  cursor: pointer;
  display: inline-block;
}

.replycomment-views {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 13px;
  flex-wrap: wrap;

  display: flex;
  align-items: center;
  color: #2e3b4c;
}
.replycomment-views p {
  margin-right: 30px;
}
.replycomment-nickname {
  font-size: 16px;
}
.replycomment-createdDate,
.replycomment-modify,
.replycomment-delete {
  font-size: 13px;
  color: gray;
  cursor: pointer;
}

.replyComment-setting-options {
  margin-top: -23px;
  margin-left: -20px;
  margin: 20px;
  cursor: pointer;
  display: inline-block;
  color: gray;
  top: 100%;
  padding: 8px;
  z-index: 1;
  white-space: nowrap;
  border-radius: 4px;
  position: relative;
}
.replyComment-modfiy-input textarea {
  flex: 1;
  height: 50px;
  resize: vertical;
  font-size: 14px;
  padding: 5px;
  margin-right: 10px;
  width: 900px;
}
.replyComment-submit {
  display: inline-block;
  color: white;
  background-color: #2e3b4c;
  margin-top: 10px;
  height: 50px;
  width: 70px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

/*ReplyCommentCreate.js*/
.replycomment-create {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.replycomment-create .replycomment-input {
  display: flex;
  flex: 1;
}

.replycomment-create textarea {
  flex: 1;
  height: 50px;
  resize: vertical;
  font-size: 14px;
  padding: 5px;
  margin-right: 10px;
  width: 900px;
}

.replycomment-create button {
  display: inline-block;
  color: white;
  background-color: #2e3b4c;
  margin-top: 5px;
  height: 50px;
  width: 70px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
