.page {
  display: flex;
  width: 100%;
  height: 657px;
}
.leftPage {
  width: 45%;
  border-right: 0.5px solid #ccc;
}
.leftHeader {
  border-bottom: 0.5px solid #ccc;
}
.text {
  font-size: 22px;
  font-weight: 400;
  padding: 20px 25px;
  margin: 0;
}
/*채팅방 설정***********************************************/
.rightPage {
  width: 55%;
  border-left: 0.5px solid #ccc;
}
.rightHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-bottom: 0.5px solid #ccc;
  /*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); */
}
.chatInfoHedaer {
  display: flex;
  align-items: center;
  width: 100%;
}
.chatProfileImage {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
.chatProfileNickname {
  font-size: 18px;
  font-weight: 400;
}
.chatHeaderOptionBtn {
  font-size: 30px;
  color: #2e3b4c;
  margin-left: auto;
  cursor: pointer;
}
.chatCancelBtn {
  font-size: 30px;
  color: #2e3b4c;
  margin-left: 5px;
  cursor: pointer;
}
.chatHeaderOption {
  width: 100%;
}
.chatPostInfoHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0 0;
}
.infoHeader {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.postInfo {
  display: flex;
  align-items: center;
  gap: 2px;
}
.gpsIcon {
  width: 21px;
  height: 21px;
  color: #85b6ff;
}
.postTitle {
  font-weight: 400;
}
.postAddress {
  display: flex;
  align-items: center;
  padding: 0 23px;
  gap: 5px;
}
.postProvince {
  font-weight: bold;
}
.postCity {
  font-size: 14px;
  margin-top: 2px;
}
.headerBtn {
  font-size: 15px;
  background-color: white;
  padding: 5px 10px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}
.chatMeetUpInfoHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 14px 0 0px;
}
.planTitle {
  font-size: 14px;
  color: #949494;
}
.planCalendar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.calendarBackground {
  width: 25px;
  height: 25px;
  background-color: #4395ff;
  border-radius: 30px;
  margin: 0;
}
.calendarIcon {
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
}
.planDate {
  font-size: 16px;
}

.logo {
  display: flex;
  align-items: center;
  width: 55%;
}
.logoImage {
  width: 140px;
  height: 100px;
  margin: auto;
}

/*ChatList***********************************************/
.chatListContainer {
  height: 590px;
  overflow-y: auto;
}
.chatList {
  display: flex;
  padding: 15px 20px 10px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}
.listProfileImg {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.listInfo {
  margin-left: 10px;
}
.listNickname {
  font-size: 18px;
  font-weight: bold;
  margin: 3px 0 0;
}
.listMessage {
  max-width: 210px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listTime {
  font-size: 13px;
  font-weight: 200;
  margin: auto -5px 6px auto;
}

/*Chatting***********************************************/
.chatRoomContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 531px;
}
.chatRoomContent {
  flex: 1;
  background-color: #f8f8f8;
  padding: 10px;
  overflow-y: auto;
}
.chatMessages {
  overflow-y: auto;
}
.messageBox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0 15px;
}
.chatProfileImg {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.message {
  display: flex;
  align-items: center;
  gap: 5px;
}
.myMessage {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 2px 0 auto;
}
.messageImage {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.messageText {
  background-color: #ffffff;
  padding: 10px 20px;
  margin: 0;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.messageTime {
  font-size: 12px;
  color: #949494;
  margin: 25px 0 0 auto;
}

.chatMessage {
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}
.chatCreatedTime {
  font-size: 13px;
  font-weight: 200;
  margin: auto -5px 0px;
}
.messageImage {
  width: 20%;
}
.chatText {
  text-align: center;
}
/*메세지 보내기 Container*******************************************/
.chatSendBox {
  padding: 10px;
  border-top: 0.5px solid #d8d8d8;
}
.chatSendForm {
  display: flex;
  align-items: center;
  gap: 10px;
}
.optIcon {
  width: 28px;
  height: 28px;
  color: #bdbdbd;
}
.chatOptBtn {
  cursor: pointer;
  margin: 5px 0 0;
}
.chatInputBox {
  display: flex;
  text-align: center;
  width: 90%;
  height: 100%;
  background-color: #f1f3f6;
  padding: 5px 10px;
  border: 1px solid #f1f3f6;
  border-radius: 10px;
  gap: 10px;
}
.chatInput {
  width: 90%;
  background-color: #f1f3f6;
  padding: 5px;
  border: none;
  text-decoration: none;
}
.chatSendBtn {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

/*ChatMeetUp***********************************************/
.meetUpContainer {
  width: 100%;
}
.verification {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.verificationText {
  font-size: 16px;
  color: #525252;
}
.verificationCode {
  font-size: 30px;
  color: #2e3b4c;
  margin: 20px 0 0;
}
.verificationBtn {
  font-size: 15px;
  color: white;
  background-color: #2e3b4c;
  padding: 7px 10px;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.verificationCodeInput {
  text-align: center;
  height: 100px;
  font-size: 18px;
  padding: 5px 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
