.page {
  width: 100%;
}
.header {
  /*맨 윗 줄 설정*/
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  height: 70px;
}
.listHeader {
  /*채팅방 목록*/
  width: 365px;
  border-right: 0.5px solid #d8d8d8;
}
.headerText {
  font-weight: 400;
  padding: 20px;
  margin: 0;
}
.chatHeader {
  /*채팅방 내용*/
  display: flex;
  align-items: center;
  width: 435px;
  border-left: 0.5px solid #d8d8d8;
}
.headerImg {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  margin: auto 12px;
}
.headerNickname {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.headerBtn {
  margin: 0 10px 0 auto;
  cursor: pointer;
}
.headerIcon {
  font-size: 40px;
}

/*본문 내용*/
.contaner {
  display: flex;
  justify-content: space-between;
  height: 590px;
}
.listContainer {
  width: 365px;
  border-right: 0.5px solid #d8d8d8;
  overflow-y: auto;
}
.chatRoomList {
  display: flex;
  padding: 15px 20px 10px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}
.listProfile {
  margin: 0px;
}
.listInfo {
  margin-left: 10px;
}
.listNickname {
  font-size: 18px;
  font-weight: bold;
  margin: 3px 0 0;
}
.listLastContent {
  max-width: 210px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listLastTime {
  font-size: 13px;
  font-weight: 200;
  margin: auto -5px 6px auto;
}
.profileImg {
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.chatContainer {
  display: flex;
  flex-direction: column;
  width: 435px;
  height: 100%;
  border-left: 0.5px solid #d8d8d8;
}
.chatRoomContent {
  flex: 1;
  max-height: 515px;
  padding: 10px;
  overflow-y: auto;
}
.chatMessages {
  overflow-y: auto;
}
.chatProfileImg {
  height: 35px;
  width: 35px;
  border-radius: 10px;
}
.chatMessage {
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}
.chatCreatedTime {
  font-size: 13px;
  font-weight: 200;
  margin: auto -5px 0px;
}
.msgImage {
  width: 20%;
}

/*메세지 보내기 Container*/
.chatSendBox {
  width: 415px;
  padding: 10px;
  border-top: 0.5px solid #d8d8d8;
}
.chatSendForm {
  display: flex;
  align-items: center;
  gap: 10px;
}
.optIcon {
  width: 28px;
  height: 28px;
  color: #bdbdbd;
}
.chatOptBtn {
  cursor: pointer;
  margin: 5px 0 0;
}
.chatInputBox {
  display: flex;
  text-align: center;
  width: 90%;
  height: 100%;
  background-color: #f1f3f6;
  padding: 5px 10px;
  border: 1px solid #f1f3f6;
  border-radius: 10px;
  gap: 10px;
}
.chatInput {
  width: 90%;
  background-color: #f1f3f6;
  padding: 5px;
  border: none;
  text-decoration: none;
}
.chatSendBtn {
  width: 23px;
  height: 23px;
  cursor: pointer;
}
/*ChatOption.js*/
.optBox {
  padding: 15px 0 0 40px;
}
.optContent {
  display: flex;
  align-items: center;
  gap: 45px;
}
.optSchedule,
.optPhoto {
  text-align: center;
  cursor: pointer;
}
.calendarBackground {
  width: 50px;
  height: 50px;
  background-color: #4395ff;
  border-radius: 30px;
  margin: 0;
}
.calendarIcon {
  width: 32px;
  height: 32px;
  color: white;
  padding: 5px;
  margin-top: 4px;
}
.pictureBackground {
  width: 50px;
  height: 50px;
  background-color: #73ff81;
  border-radius: 30px;
  margin: 0;
}
.pictureIcon {
  width: 32px;
  height: 32px;
  color: white;
  padding: 5px;
  margin-top: 4px;
}
.calendarText,
.pictureText {
  font-size: 14px;
  color: #8d8d8d;
  margin: 10px 0 0;
}
/*Schedule*/
.scheduleBox {
  padding-left: 40px;
}

.scheduleTitle {
  font-size: 16px;
  margin: 0;
}
.scheduleBtn {
  font-size: 15px;
  color: white;
  background-color: #2e3b4c;
  padding: 7px 10px;
  border: 1px solid lightgray;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}
.scheduleOptBox {
  display: flex;
  align-items: center;
  gap: 23px;
  margin: 10px 0;
}
.clockIcon {
  width: 28px;
  height: 28px;
}
.dateOpt,
.timeOpt {
  padding: 8px 16px;
  margin: 0;
  border: 0.5px solid #949494;
  border-radius: 5px;
}
.img {
  width: 50%;
}
