.ArticleCreateContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  
}

.ArticleCreateContainer h1 {
  margin-bottom: 30px;
}

.Article_title {
  margin-bottom: 20px;
}

.Article_content {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}
.Article_file {
  margin-bottom: 30px;
}

.form-group-file label {
  display: block;
  margin-bottom: 10px;
}

.form-group-file input[type="file"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.ArticleCreateContainer button[type="submit"] {
  display: block;
  color: white;
  background-color: #2E3B4C;
  margin-top: 10px;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
}