.login-container {
  display: block;
  position: absolute;
  top: 20px;
  bottom: auto;
  left: 39%;
  right: 100%;
}

.login {
  margin-top: 220px;
  border-bottom: 2px solid rgb(61, 58, 86);
  color: #2e3b4c;
  width: 350px;
  display: inline-block;
  margin-bottom: 85px;
  text-align: center;
}

.label-email,
.label-password {
  display: inline-block;
  width: 80px;
}

.login-username,
.login-password {
  border: none;
  border-bottom: 1px solid rgb(172, 172, 172);
  margin-bottom: 10px;
  width: 350px;
}

.login-username {
  margin-bottom: 30px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-left: 80px;
  margin-top: 40px;
  text-align: center;
  font-size: medium;
  width: 200px;
  height: 40px;
  background-color: #2e3b4c;
  color: white;
  border-radius: 30px;
}
