
.Login_username {
  margin-bottom: 30px;
}
.navigation-item {
  margin-bottom: 16px; /* 네비게이션 항목들 간의 간격 조정 */
}
button {
  margin: 30px;
  text-align: center;
  margin-left: 80px;
  margin-top: 40px;
  font-size: medium;
}
.navbar-brand {
  margin: 103px;
}
.nav {
  position: relative;
  left: 9%;
  font-style: bold;
}
.sns {
  position: absolute;
  top: 600px;
  left: 575px;

  color: rgb(186, 186, 186);
}
.nav-rlink {
  margin-left: 195px;
}
.Logint {
  margin-top: 220px;
  border-bottom: 2px solid rgb(61, 58, 86);
  color:#2E3B4C;
  width:350px;
  display: inline-block;
  margin-bottom: 85px;
  text-align: center;
}
input {
  border: none;
  border-bottom: 1px solid rgb(172, 172, 172);
  margin-bottom: 10px;
  width:350px
}
.Login_container{
  display: block;
  position: absolute;
  top: 20px;
  bottom: auto;
  left: 39%;
  right: 100%;

}
label {
  display: inline-block;
  width: 80px;
}
