.Home {
  text-align: center;
  display: flex;
  justify-content: center;
}
.Home_Image {
  width: 25%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
