/*TravelDetailPage.js*/
.travelCourse-container {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
}
.travelCourse-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.travelCourse-thenumberOf,
.travelCourse-theme,
.travelCourse-totalcost {
  font-size: 18px;
  margin-bottom: 5px;
}
.course {
  /*display: inline-block;
  width: calc(25% - 20px);
  margin: 0 10px 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;*/
}

/*CourseDetail.js*/
.searchresult-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
}
.searchresult-title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchresult-like-button {
  margin-top: 5px;
  background: none;
  border: none;
  padding: 0;
  font-size: 24px;
  color: #ff6b6b;
  cursor: pointer;
}

.searchresult-dayCountArrivedTime {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  font-size: 14px;
  color: #888888;
}
.searchresult-dayCount {
  font-weight: bold;
}
.searchresult-dayCount,
.searchresult-arrivedTime {
  margin-top: 5px;
}

.searchresult-image-container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px; /* 수정: 모서리를 약간 둥글게 */
}
.searchresult-images {
  text-align: center;
  width: 100%;
  height: 250px;
  margin-bottom: 5px;
  position: relative;
}
.searchresult-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px; /* 수정: 모서리를 약간 둥글게 */
}
.basic-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px; /* 수정: 모서리를 약간 둥글게 */
}

.searchresult-image-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.image-prev-button,
.image-next-button {
  font-size: 20px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.image-prev-button {
  position: absolute;
  left: 10px;
}

.image-next-button {
  position: absolute;
  right: 10px;
}

.searchresult-cost {
  color: #aaaaaa;
  margin-top: 10px;
  text-align: right;
}

.searchresult-ratingreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  font-size: 18px;
  color: rgb(255, 221, 2);
}

.searchresult-ratingStarIcon {
  margin: 0px 2px;
  font-size: 20px;
}

.searchresult-review {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  color: #888888;
  font-size: 14px;
}

.searchresult-review .searchresult-review-click {
  color: #aaaaaa;
  margin-right: 10px;
  cursor: pointer;
}

.searchresult-review .searchresult-content {
  color: #444444;
}

.searchresult-ratingStars {
  display: flex;
}

.searchresult-ratingStars span {
  margin-right: 5px;
}

.searchresult-review-click {
  font-size: 14px;
  color: #aaaaaa;
  cursor: pointer;
}
