/*CourseDetail.js*/
.searchresult-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: #eeeeee;
  padding: 10px 20px;
  margin: 16px;
  width: 500px;
}

.searchresult-header {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.searchresult-title {
  margin-left: 15px;
  font-weight: bold;
  font-size: 23px;
  margin-right: 5px;
  position: relative;
  color: black;
}

.searchresult-like-button {
  margin-top: 3px;
  background: none;
  border: none;
  padding: 0;
  font-size: 24px;
  color: #ff6b6b;
  cursor: pointer;
  position: relative;
}

.searchresult-dayCountArrivedTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5em;
  margin-top: 5px;
  font-size: 14px;
  color: #888888;
}
.searchresult-dayCount {
  font-weight: bold;
  font-size: 25px;
}

.searchresult-date {
  font-weight: 400;
  font-size: 14px;
  color: #888888;
}
/* .searchresult-dayCount,
.searchresult-arrivedTime {
  margin-top: 5px;
} */

.searchresult-arrivedTime {
  font-size: 19px;
  font-weight: 300;
  border: 1px solid #888888;
  line-height: 48px;
  padding: 3px;
  border-radius: 30px;
}

.searchresult-cost {
  color: #aaaaaa;
  margin-top: 15px;
  text-align: right;
}

.searchresult-image-container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px; /* 수정: 모서리를 약간 둥글게 */
}
.searchresult-images {
  text-align: center;
  width: 95%;
  height: 250px;
  margin-bottom: 5px;
  position: relative;
}
.searchresult-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px; /* 수정: 모서리를 약간 둥글게 */
}
.basic-image {
  margin-top: 5 px;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px; /* 수정: 모서리를 약간 둥글게 */
}

.searchresult-image-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.image-prev-button,
.image-next-button {
  font-size: 20px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.image-prev-button {
  position: absolute;
  left: 10px;
}

.image-next-button {
  position: absolute;
  right: 10px;
}

.searchresult-ratingreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  font-size: 18px;
  color: rgb(255, 221, 2);
}

.searchresult-ratingStarIcon {
  margin: -2px;
  font-size: 20px;
}

.searchresult-review {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  color: #888888;
  font-size: 14px;
}

.searchresult-review .searchresult-review-click {
  color: #aaaaaa;
  margin-right: 10px;
  cursor: pointer;
}

.searchresult-review .searchresult-content {
  color: #444444;
}

.searchresult-ratingStars {
  display: flex;
}

.searchresult-ratingStars span {
  margin-right: 5px;
}

.searchresult-review-click {
  font-size: 14px;
  color: #aaaaaa;
  cursor: pointer;
}
