/*페이지 header 설정*/
.page {
  padding: 0 90px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.backIcon {
  width: 35px;
  height: 35px;
  color: rgba(79, 90, 128, 1);
}
.headerText {
  font-size: 22px;
  color: rgba(79, 90, 128, 1);
  margin: auto;
}
.hr {
  border: 0.5px solid #d9d9d9;
}
/*프로필 설정*/
.profileContainer {
}

/*optionHeader 설정*/
.container {
  padding: 0 10px;
}
.optionHeader {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  gap: 25px;
}
.meetUpReview,
.travelPlan,
.travelReview,
.articleLiked,
.meetUpPoke {
  font-size: 18px;
  color: #486080;
  background-color: white;
  font-weight: bold;
  padding: 0 8px 10px;
  margin: 30px 0 0;
  border: none;
  border-bottom: 5px solid transparent; /* 초기에는 투명한 밑줄을 가짐 */
  cursor: pointer;
  text-decoration: none;
}
.active {
  border-color: #2e3b4c; /* 클릭했을 때 파란색 밑줄 유지 */
}
.hr02 {
  margin: 0;
  border: 0.5px solid #d9d9d9;
}

/*해당 내용 별 css*/
.meetUpReviewContainer,
.travelReviewContainer,
.articleLikedContainer,
.meetUpPokeContainer {
  padding: 10px;
}
.travelPlanContainer {
  padding: 20px;
}
