.mypage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.mypage_title {
  font-size: 2em;
  padding-bottom: 1.5em;
  color: rgba(79, 90, 128, 1);
  font-weight: 700;
}

.mypage_container {
  text-align: center;
  /* box-shadow: 0px 2px 8px rgba(173, 173, 173, 0.246); */
  padding: 2rem;
  margin: 2rem;
  width: 30em;
  background: rgba(197, 213, 237, 0.5);
  border-radius: 20px;
}

.mypage_container_title {
  color: rgb(74, 74, 74);
  position: relative;
  right: 280px;
  top: 20px;
  font-size: 1.1em;
  font-weight: 600;
}

.hr {
  position: relative;
  border-bottom: 1px solid rgb(173 173 173);
  margin: 30px 0 30px;
  width: 34em;
  right: 2em;
}

.mypage_element_title {
  color: rgb(120, 120, 120);
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  padding: 1em 0;
}

/* profile 영역 */

.mypage_profile_image {
  width: 16em;
  height: 16em;
  border-radius: 20em;
}

.profile_nickname {
  color: rgba(0, 0, 0, 1);
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.7em;
}

.profile_email {
  color: rgb(164 164 164);
  margin-bottom: 1.5em;
}

.profile_point {
  background-color: rgba(79, 90, 128, 1);
  border-radius: 18px;
  padding: 0.5em;
  color: white;
  margin: 0.8em;
  font-size: 0.8em;
  font-weight: 300;
}

.profile_point span {
  font-weight: 450;
}

/*AccountModify (정보 수정) 영역*/
.account-modify-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.account-modify-title {
  font-size: 2em;
  padding-bottom: 1.5em;
  color: rgba(79, 90, 128, 1);
  font-weight: 700;
}

.image-modify-button {
  font-size: 3em;
  color: rgb(119, 169, 212);
  margin-top: -55px;
  margin-left: 145px;
  cursor: pointer;
}
.profile-image-upload {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  color: #555;
  text-align: center;
}

.profile_nickname-box {
  margin-top: -80px;
  margin-bottom: 10px;
}
.nickname-input {
  color: rgba(0, 0, 0, 1);
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.7em;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgb(173, 173, 173);
  background-color: transparent;
  margin: 1em 0;
  width: 120px;
}
.nickname-modify-button-click {
  margin-top: -85px;
  margin-left: 210px;
  margin-bottom: -5px;
  color: rgb(105, 104, 104);
  font-size: 1.5em;
  padding: 0.7em;
}
.nickname-modify-button-unclick {
  margin-top: -85px;
  margin-left: 90px;
  margin-bottom: -5px;
  color: rgb(105, 104, 104);
  font-size: 1.5em;
  padding: 0.7em;
  cursor: pointer;
}

.profile-modify-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 0px;
}

.profile-modify-box {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: -50px;
}

.profile-modify-text {
  color: rgb(79, 77, 77);
  font-size: 1.2em;
  font-weight: 600;
  padding: 1em 0;
  text-align: left;
  margin-right: 10px;
}

.profile-password,
.profile-name {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  padding: 0.5em;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgb(173, 173, 173);
  background-color: transparent;
  margin: 0.5em 0;
}

.profile-name {
  margin-left: 33px;
}

.profile-modify-submit {
  margin-top: 100px;
  font-size: 1.5em;
  padding: 1.3em 0;
  color: white;
  background-color: rgba(79, 90, 128, 1);
  font-weight: 600;
  width: 300px;
  height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
}

/* AccountWithdraw.js */
.withdraw-confirm {
  color: gray;
  margin-top: 50px;
  margin-bottom: -60px;
}

/* account 영역 */
.account_text {
  color: rgb(120, 120, 120);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.account_text:hover {
  color: rgb(24, 24, 24);
}
/* my travel 영역 */

.travel_container_title {
  color: rgb(120, 120, 120);
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  padding: 1em 0;
}

.travel_item {
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 1);
  border-radius: 18px;
  box-shadow: 0px 2px 8px rgba(173, 173, 173, 0.246);
  margin: 0.8em 0;
}

.travel_item:hover {
  background: rgba(213, 213, 213, 0.695);
  cursor: pointer;
}

.travel_item_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.2em 2em;
}

.travel_theme {
  display: inline-block;
  width: fit-content;
  padding: 0.2em 0.3em;
  margin: 0.8em 0.5em;
  border: 1px solid rgba(147, 190, 255, 1);
  color: rgba(147, 190, 255, 1);
  font-size: 0.8em;
}

.travel_text {
  display: inline-block;
  font-size: 0.9em;
  color: rgba(131, 131, 131, 1);
}

.travel_place {
  display: inline-block;
  width: fit-content;
  padding: 0.2em 0.5em;
  background-color: rgb(212, 224, 242);
  border-radius: 20px;
  font-size: 0.9em;
}

.travel_place_small {
  color: rgba(131, 131, 131, 1);
  font-size: x-small;
}

.travel_info {
  font-size: 0.8em;
  color: rgb(84, 84, 84);
  padding: 1em;
}

.travel_go_detail {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0.2em 2em;
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(56, 56, 56);
  cursor: pointer;
}

.travel_writerNickname {
  color: rgba(131, 131, 131, 1);
  font-size: 0.8em;
}
