.Travel_review_container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}
.Travel_course_text {
  margin-bottom: 30px;
}

.Travel_review_title {
  margin-bottom: 20px;
}
.Travel_review_startDate {
  margin-bottom: 20px;
}
.Travel_review_startDate {
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.form-group-file {
  margin-bottom: 30px;
}

.form-group-file label {
  display: block;
  margin-bottom: 10px;
}

.form-group-file input[type="file"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

button[type="submit"] {
  background-color: #0077ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
