.create-buttons-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.course-button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #008000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #008000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
