/*TravelReviewTemplate.js*/
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 0 auto 20px;
}
.page h2 {
  font-weight: bold;
  color: #486080;
  margin: 0px auto 5px 15px;
}
.container {
  display: block;
  position: relative;
  width: 100%;
}
.box {
  display: flex;
  width: 30%;
  max-height: 700px;
  overflow-y: auto;
}
/*여행 코스 검색 입력 부분*/
.planForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  padding: 10px;
  margin: 0px 10px 0 5px;
}
.formTitle {
  width: 100%;
}
.content01 {
  /*Input 내용*/
  font-size: 23px;
  font-weight: 400;
  width: 97%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(149, 149, 149);
  cursor: pointer;
  text-indent: 5px; /*약간의 여백*/
}
.content01::placeholder {
  font-weight: 400;
  color: #949494;
}
/*내용*/
.formShowContent {
  width: 100%;
}
.formContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  padding: 5px 0;
  margin-top: 5px;
}
.content02 {
  /*Select 내용*/
  width: 160px;
  font-size: 18px;
  font-weight: 400;
  color: #949494;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(149, 149, 149);
  cursor: pointer;
}
.content02:hover {
  background-color: rgb(214, 217, 221);
}
.content03 {
  width: 150px;
  font-size: 16px;
  color: #949494;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(149, 149, 149);
  cursor: pointer;
}
.content03:hover {
  background-color: rgb(214, 217, 221);
}
.contentLabel01 {
  font-size: 18px;
  color: #486080;
}

.btn01 {
  display: block;
  width: 40%;
  font-size: 16px;
  color: white;
  background-color: #2e3b4c;
  padding: 10px 20px;
  margin: 50px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn02 {
  display: block;
  text-align: center;
  padding: 10px 20px;
  margin: 10px auto 10px;
  cursor: pointer;
}
.icon01 {
  font-size: 22px;
}
.btnLabel01 {
  font-size: 16px;
  color: #486080;
  margin: 0px;
}
/*계획 시작하기 눌렀을 때*/
.formDetail {
  align-items: center;
  text-align: center;
  width: 100%;
}
.planFormInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.infoContent {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 0;
}
.btn03 {
  display: block;
  align-items: center;
  width: 45%;
  font-size: 16px;
  color: white;
  background-color: #2e3b4c;
  padding: 10px 20px;
  margin: 10px 0 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*CourseReviewContainer.js*/
.courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dayCount {
  font-size: 20px;
  font-weight: bold;
}
.courseContent {
  width: 100%;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0 32px;
  gap: 15px;
}
.btn04 {
  font-size: 16px;
  background-color: #e5e5e5;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*CourseReviewItem.js*/
.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ccc;
}
.itemContentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.itemTitle {
  margin: 15px;
}
.titleLabel01 {
  font-size: 15px;
  font-weight: 400;
  color: #8d8d8d;
}
.titleLabel02 {
  font-size: 19px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
.itemShowContainer {
  width: 90%;
}
.itemShowContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  gap: 15px;
}
.itemContent01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentLabel02 {
  font-weight: 400;
  color: #2e3b4c;
}
.itemContent02 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.star {
  font-size: 30px;
  color: rgb(255, 221, 2);
  margin-right: 0;
}
.checkbox {
  font-size: 26px;
  color: #85b6ff;
  margin-right: 5px;
}
.contentLabel03 {
  font-size: 14px;
  color: #8d8d8d;
}
.itemContent03 {
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.contentLabel04 {
  font-size: 14px;
  margin-top: 10px;
}
.courseContent03 {
  width: 100%;
  height: 150px;
  padding: 5px;
  margin-top: 10px;
}

.icon02 {
  font-size: 22px;
  margin-right: 5px;
}
.content04 {
  width: 40%;
  padding: 8px;
  margin-left: auto;
}

.itembtnContainer {
  text-align: center;
}
.btn06 {
  background-color: #2e3b4c;
  color: #f3f3f3;
  padding: 10px 20px;
  margin: 16px;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

/*지도 크기 및 위치 고정*/
.courseReviewMap {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 890px;
}

/*ImageFileForm.js*/
.imageContainer {
  width: 30%;
  margin: 30px auto;
}

.imageLabel01 {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 232, 234);
  width: 96px;
  height: 32px;
  border-radius: 32px;
  line-height: 32px;
}
.imageLabel01:hover {
  background-color: rgb(208, 217, 227);
}

.imageInput {
  border: none;
  background-color: rgb(230, 232, 234);
  border-radius: 8px;
  height: 25px;
  font-size: 14px;
  color: rgb(89, 88, 92);
  text-align: center;
  padding: 5px 3px;
  cursor: pointer;
}

.imageInput {
  display: none;
}

.imageLabel02 {
  font-size: 14px;
  color: gray;
  margin-top: 20px;
}

.imageContent {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 가로 정렬 방향 수정 */
  height: 250px;
  width: 323px;
  overflow-x: auto;
  position: relative;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
}
.imageContent::-webkit-scrollbar {
  display: none;
}
.imageWrapper {
  position: relative;
}
.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
}
.imgBtn01 {
  position: absolute;
  top: 5px;
  left: 7px;
  border: none;
  background: rgb(229, 229, 229);
  border-radius: 10px;
  cursor: pointer;
}
.imgBtn02 {
  position: absolute;
  top: 5px;
  right: 15px;
  border: none;
  background: rgb(229, 229, 229);
  border-radius: 10px;
  cursor: pointer;
}
.imgIcon01 {
  width: 20px;
  height: 20px;
  color: gray;
  margin-top: 2px;
  margin-bottom: -2px;
}
.imgIcon01:hover {
  color: rgb(227, 8, 8);
}
.imgIcon02 {
  width: 20px;
  height: 20px;
  color: rgb(227, 8, 8);
  margin-top: 2px;
  margin-bottom: -2px;
}
.imgIcon03 {
  width: 20px;
  height: 20px;
  color: rgb(227, 8, 8);
  margin-bottom: -2px;
}
