.reviewComponent {
  text-align: center;
}

.reviewComponent input {
  border: none;
  background-color: rgb(230, 232, 234);
  border-radius: 8px;
  height: 25px;
  font-size: 0.8em;
  color: rgb(89, 88, 92);
  text-align: center;
  padding: 5px 3px;
  cursor: pointer;
}

.review_title input {
  border: none;
  border-bottom: 1px solid rgb(149, 149, 149);
  width: fit-content;
  min-width: 15em;
  max-width: 25em;
  height: 25px;
  font-size: 1em;
  color: rgb(89, 88, 92);
  text-align: center;
  padding: 5px 3px;
  cursor: pointer;
  margin-bottom: 1.5em;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 250px;
  overflow-x: auto;
  position: relative;
  /* 좌우 스크롤 */
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
}

.imageContainer::-webkit-scrollbar {
  display: none;
}

.imageWrapper {
  position: relative;
}

.reviewImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
}

.delete_btn {
  position: absolute;
  top: 5px;
  right: 15px;
  border: none;
  background: rgb(229, 229, 229);
  border-radius: 10px;
  cursor: pointer;
}

.delete_icon {
  width: 20px;
  height: 20px;
  color: rgb(227, 8, 8);
}

.courseComponent {
  padding: 0.5rem 0;
}
.imgnumber {
  font-size: 14px;
  color: gray;
}
.radioButtonForm {
  display: flex;
  justify-content: center;
}

.radioButtonForm input[type="radio"] {
  width: 20px;
  margin: 0 1em;
}

.radioButtonForm > .radio_element {
  display: flex;
  flex-direction: row;
}

.radioButtonForm > div {
  display: inline-block;
  font-size: 0.8em;
  line-height: 28px;
}

.detailedReview {
  width: 420px;
  height: 150px;
  resize: none;
  border: none;
  background-color: rgb(230, 232, 234);
  border-radius: 5px;
  padding: 1em;
  margin-top: 10px;
}

/* 이미지 첨부 폼 */

.reviewImg_input {
  display: none;
}

.reviewImg_label {
  display: inline-block;
  background-color: rgb(230, 232, 234);
  width: 6em;
  height: 2em;
  border-radius: 2em;
  line-height: 2em;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.05);
}

.reviewImg_label:hover {
  background-color: rgb(208, 217, 227);
}
