.imageContainer {
  display: flex;
  width: 500px;
  height: 250px;
  overflow-x: auto;
  position: relative;

  /* 좌우 스크롤 */
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
}

.imageContainer::-webkit-scrollbar {
  display: none;
}

.imageWrapper {
  position: relative;
}

.reviewImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
}

.delete_btn {
  position: absolute;
  top: 5px;
  right: 15px;
  border: none;
  background: rgb(229, 229, 229);
  border-radius: 10px;
}
.delete_icon{
  width: 20px;
  height: 20px;
  color: rgb(227, 8, 8);
}

.courseComponent {
  padding: 0.5rem 0;
}
.imgnumber{
  font-size: 14px;
  color: gray;
}
.radioButtonForm {
  display: flex;
  justify-content: center;
}

.radioButtonForm input[type="radio"] {
  margin-right: -20px;
  width: 120px;
}

.radioButtonForm span {
  margin-left: -20px;
}