.placeSearchContainer {
  border: none;
  border-radius: 0;
  padding: 10px;
  width: 520px;
  height: 580px;
}

.placeSearchContainer input[type="text"] {
  width: 450px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.placeSearchContainer button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.placeSearchContainer hr {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ccc;
}

.placeSearchContainer span {
  font-size: 16px;
}

.placeSearchContainer a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #2e3b4c;
  text-decoration: none;
}

.placeSearchContainer a:hover {
  text-decoration: underline;
}

.placeSearchContainer button[type="button"] {
  background-color: #2e3b4c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

.placeSearchContainer .confirmButton {
  width: 50px;
  height: 30px;
  background-color: #2e3b4c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.placeSearchContainer .confirmButton:hover {
  background-color: #1e293b;
}
.placeSearchContainer a {
  font-size: 0.8rem;
  color: gray;
}
.placeSearchContainer .searchButton {
  background-color: transparent;
  border: none;
  color: #888;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
}

.placeSearchContainer .searchButton i {
  margin-right: 5px;
}
.SearchIcon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.mapForm_text {
  margin: 2em;
  font-size: 0.9em;
  color: #5a626f;
}
