label {
  color: rgb(91, 91, 91);
  font-size: 0.8rem;
  padding: 2px 8px;
}

.templateBlock {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.templateBlock h1 {
  font-weight: 500;
}

.formContainer {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid rgba(89, 89, 89, 0.419);
  border-radius: 10px;
  padding: 1em;
}

.formComponent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0.5rem 0;
}

.reviewComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

.formComponent_place {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.formComponent label {
  color: rgb(91, 91, 91);
  font-size: 0.8rem;
  padding: 0 5px;
  margin: 5px;
  width: 5em;
  cursor: pointer;
}

.formComponent select {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: rgb(230, 232, 234);
  color: rgb(89, 88, 92);
  text-align: center;
  cursor: pointer;
}

.formComponent select:hover {
  background-color: rgb(214, 217, 221);
}
.formComponent input {
  border: none;
  background-color: rgb(230, 232, 234);
  border-radius: 8px;
  height: 25px;
  font-size: 0.8em;
  color: rgb(89, 88, 92);
  text-align: center;
  padding: 5px 3px;
  cursor: pointer;
}

.formComponent input:hover {
  background-color: rgb(214, 217, 221);
}

.formComponent input:disabled {
  background-color: rgb(240, 240, 240);
  color: rgb(163, 163, 167);
}
/* select {
  border: none;
  border-bottom: 1px solid rgb(172, 172, 172);
} */

select option[value=""][disabled] {
  display: none;
}

.formComponent_province {
  margin-right: 2em;
}

.formComponent_city {
  margin-right: 2em;
}

.travel_current_info {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  margin: 2em 0;
}

.travel_current_info > div > span {
  display: inline-block;
  background-color: rgb(219, 219, 219);
  min-width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  line-height: 1.5em;
  margin: 1em;
  padding: 0.2em;
}

/* 코스 영역 */

.courseComponent form label {
  white-space: nowrap;
}
.locationSelection {
  display: flex;
  align-items: center;
}

.courseAddBtn {
  padding: 10px 10px;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border-top: 2px dotted rgba(137, 137, 137, 0.446);
}

.course_dayCount_title {
  font-size: 25px;
}

.course {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 540px;
}

.course:first-child {
  border: none;
}

.course:last-child {
  border: none;
}

.courseComponent {
  padding: 0.5rem 0;
}

.courseComponent input {
  padding: 0.4em 0.7em;
  text-align: center;
}
.mapForm {
  margin: 10px 10px;
}

.planCourseBtn {
  display: block;
  color: white;
  background-color: #2e3b4c;
  margin: 0 auto;
  margin-top: 30px;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
  padding: 10px 20px; /* Add padding for better button appearance */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

.planCourseBtn:hover {
  background-color: #1d2936; /* Darken the button color on hover */
}

.planCourseBtn:disabled {
  display: none;
}
.numcourse,
.totalcost {
  align-items: center;
}
.planCompleteBtn {
  display: block;
  color: white;
  background-color: #2e3b4c;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
  padding: 10px 20px; /* Add padding for better button appearance */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add a smooth transition */
}
.courseAddBtn {
  color: #394a61fb;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  margin-top: 2em;
}

.deleteButton,
.submitButton {
  background-color: #4c6482;
  color: #f3f3f3;
  padding: 10px 20px;
  margin: 1em;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.deleteButton,
.submitButton {
  background-color: #4c6482;
  color: #ffffff;
  padding: 10px 20px;
  margin: 1em;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}
