.templateBlock {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.formContainer {
  text-align: center;
  display: block;
  position: relative;
  margin:0 auto;
  min-height: 100vh;
}

.formBox {
  display: flex;
  flex-direction: column;
}

.formComponent {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.formComponent label {
  color: rgb(91, 91, 91);
  font-size: 0.8rem;
  padding-right: 5px;
  white-space: nowrap;
}

.courseComponent form label {
  white-space: nowrap;
}
.locationSelection {
  display: flex;
  align-items: center;
}

#city{
  margin-left: -20px;
}

.placeSearchContainer {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.courseAddBtn {
  padding: 10px 10px;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.course:first-child {
  border: none;
}

.course:last-child {
  border: none;
}


.courseComponent {
  padding: 0.5rem 0;
}

label {
  color: rgb(91, 91, 91);
  font-size: 0.8rem;
  padding: 2px 8px;
}

.mapForm {
  margin: 10px 10px;
}

select option[value=""][disabled] {
  display: none;
}

.planCourseBtn {
  display: block;
  color: white;
  background-color: #2E3B4C;
  margin: 0 auto;
  margin-top: 30px;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  width:50%;
  padding: 10px 20px; /* Add padding for better button appearance */
  border: none; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

.planCourseBtn:hover {
  background-color: #1d2936; /* Darken the button color on hover */
}

.planCourseBtn:disabled {
  display: none;
}
.numcourse, .totalcost {
  align-items: center;
}
.planCompleteBtn {
  background-color: #2E3B4C;
  color: white;
  border: none;
  margin-left: 30px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 20px; /* 원하는 위치로 조정 */
  right: 5px; /* 원하는 위치로 조정 */
}
.courseAddBtn{
  background-color: #2E3B4C;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}
#departDate, #lastDate{
  width: 250px;
}

.deleteButton, .submitButton{
  background-color: #ffffff;
  color: #2E3B4C;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
#title{
  width: 90%;
}
select {
  border: none;
  border-bottom: 1px solid rgb(172, 172, 172);
}